.row-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  @media screen and (max-width: 900px) {
    flex-direction: column;
  }
}

.about-me-image {
  width: 400px;
  max-width: 100vw;
}

.about-me-text {
  width: 500px;
  max-width: 95vw;
  padding: 50px;

  font-size: 1.2rem;
  line-height: 1.7em;

  p {
    font-family: 'Open Sans', sans-serif;
  }
}
