
.contact-details {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  font-size: 2.2rem;

  a {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    
    &:hover{
      opacity: 0.8;
    }
  }
}