h2 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.design-grid {
  width: 95vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.design-grid-item {
  position: relative;
}

.design-grid-image {
  box-sizing: border-box;
  width: 100%;
  border: 0.1rem solid transparent; 
  max-width: 95vw;
  position: relative;
}

.design-grid-info {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba($color: #000000, $alpha: 0.5);

  h3 {
    margin: 0.5rem 0.5rem;   
  }

  display: none;
}

.design-grid-item:hover .design-grid-info {
  display: flex;
  align-items: center;
  justify-content: center;
}