.navbar-container {
  position: absolute;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1rem;
  z-index: 100;
}

.navbar-nav {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  display: flex;
  font-size: 1.5rem;

  a {
    margin: 0.5rem;
    opacity: 0.5;

    &:hover {
      opacity: 0.9;
    }
  }

  .navbar-active {
    opacity: 1;
  }

  @media screen and (max-width: 500px) {
    font-size: 1rem;
    a {
      margin: 0.3rem;
    }
  }
}